@import url('./vendor/fonts/fonts.css');
@import url('./vendor/normalize.css');


.page {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 0 100px;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    max-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 984px) {
    .page {
        margin: 0 20px;
    }
}

@media screen and (max-width: 690px) {
    .page {
        margin: 0;
    }
}

.page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 80px;
    padding: 0;
}

@media screen and (max-width: 690px) {
    .page__header {
        flex-direction: column;
        height: 105px;
        margin: 0;
    }
}

.header__search {
    width: 835px;
    margin: 0;
    padding: 12px 0 12px 14px;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    max-width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1340px) {
    .header__search {
        width: 700px;
    }
}

@media screen and (max-width: 1200px) {
    .header__search {
        width: 550px;
    }
}

@media screen and (max-width: 1060px) {
    .header__search {
        width: 450px;
    }
}

@media screen and (max-width: 830px) {
    .header__search {
        width: 344px;
    }
}

@media screen and (max-width: 690px) {
    .header__search {
        width: 100%;
        padding: 12px 0 12px 0;
    }
}

.header__logo {
    max-width: 135.04px;
    height: 30.02px;
}

@media screen and (max-width: 690px) {
    .header__logo {
        margin-left: 20.94px;
    }
}

.header__stroke {
    display: none;
}

.header__stroke:hover {
    opacity: .4;
    transition: opacity .5s ease .1s;
}

@media screen and (max-width: 690px) {
    .header__stroke {
        display: block;
        margin-right: 20.94px;
    }
}

.page__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

@media screen and (max-width: 690px) {
    .page__logos {
        width: 100%;
    }
}

.header__search-bar {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #BBC4D6;
    border: none;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__button {
    background-image: url('./images/loupe.svg');
    width: 16px;
    height: 16px;
    border: none;
    background-color: white;
    margin-right: 9px;
    padding: 0;
}

@media screen and (max-width: 690px) {
    .header__button {
        margin-left: 24px;
    }
}

.header__profile {
    width: 149px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

@media screen and (max-width: 690px) {
    .header__profile {
        display: none;
    }
}

.header__user {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #768298;
    max-width: 79px;
    margin: 0 0 0 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__avatar {
    border-radius: 50%;
    max-width: 40px;
    min-height: 40px;
}

.content__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 58px;
    text-transform: uppercase;
    color: #121920;
    margin: 0 0 30px 0;
    padding: 0;
}


@media screen and (max-width: 690px) {
    .content {
        margin: 0 20px;
    }
}

@media screen and (max-width: 984px) {
    .content__title {
        font-size: 28px;
        line-height: 45px;
    }
}


.partners {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: start;
}


@media screen and (max-width: 984px) {
    .partners {
        gap: 20px;
    }
}

.partners__logo {
    width: 287.5px;
    height: 120px;
}

@media screen and (max-width: 984px) {
    .partners__logo {
        width: 220px;
    }
}

@media screen and (max-width: 572px) {
    .partners__logo {
        width: 335px;
        height: 140px;
    }
}